<div id="<%= dom_id trip %>">
  <p>
    <strong>Title:</strong>
    <%= trip.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= trip.budget %>
  </p>

</div>
