<header class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">é€±æœ«1ä¸‡å††æ—…è¡Œ</a>
    
    <!-- ðŸ”¥ Bootstrap 5 ã®ãƒãƒ³ãƒãƒ¼ã‚¬ãƒ¼ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
    <div class="navbar-nav collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", '#', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "æ—…è¡Œãƒ—ãƒ©ãƒ³ä¸€è¦§", '#', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "æŠ•ç¨¿ã™ã‚‹", '#', class: "nav-link" %></li>
      </ul>
    </div>
  </div>
</header>

